<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <h1>Login</h1>
        <br />
        <form action="http://localhost:4000/login" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              name="username"
              class="form-control"
              id="username"
              type="text"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label for="passowrd">Password</label>
            <input
              name="password"
              class="form-control"
              id="password"
              type="password"
              placeholder="Password"
            />
          </div>
          <input
            type="submit"
            class="btn btn-primary <%= isInValid? 'is-invalid':'' %>"
            id="login-btn"
            value="Login"
          />
          <label class="invalid-feedback" for="login-btn">
            Username or Password is not correct !
          </label>
        </form>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
