<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Inventory</h1>
        <p>Welcome <%= username%></p>
        <form >
          <button type="submit" class="btn btn-primary"  id='create-btn' formaction="http://localhost:4000/inventory/create" formmethod="get">Create</button>
          <button type="submit" class="btn btn-danger"  id='logout-btn' formaction="http://localhost:4000/logout" formmethod="get">Logout</button>
        </form>
      </div>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
